<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Xin chào, ' + fullname}"></p>
<p> Chúng tôi gửi thông tin truy cập hệ thống của bạn: </p>
<p th:text="${'- Tên truy cập: ' + email}"></p>
<p> Hãy click vào link bên dưới để xác thực việc đăng ký của bạn:</p>
<p><a th:href="${URL}" target="_self"><h3>VERIFY</h3></a></p>

<p>Lưu ý: Đây là LINK được tạo bởi hệ thống và chỉ có giá trị trong vòng 5 phút!</p>
<p>Đây là email tự động vui lòng không trả lời.</p>
</body>
</html>